@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-gap: 15px;
  justify-content: space-evenly;
  margin-top: 275px;
  margin-bottom: 50px;

  @include tablet {
    margin-top: 105px;
  }
}
