@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.section__warning {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-family: $primary-font;
  font-size: 20px;
  text-align: center;
  span {
    display: block;
    padding: 4px;
  }
  em {
    font-weight: bold;
    font-size: 25px;
    color: $secondary-color;
  }
  img {
    margin-top: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 3px 20px -5px $shadow-color;
  }
  button {
    margin-top: 50px;
    background-color: $main-color;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px $secondary-color;
    margin: 4px 10px 4px 10px;
    &:hover,
    &:active {
      box-shadow: 0 0 0 $text-color;
      margin: 6px 10px 2px 10px;
    }
  }
}
