@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: $secondary-color;
  width: 100%;
  height: 100px;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
  }
  @include tablet {
    align-items: flex-start;
    padding-left: 50px;
  }
}
