

<div class="container">
    
  <div class="row">

 <div class="card-columns">
    <div class="card"  *ngFor="let item of pictures | paginate : {
      itemsPerPage: 3,
      currentPage: page,
      totalItems: totalRecords 
    };let i = index">
      <img class="card-img-top img-flud" src={{item.image}} alt="Card image cap">
      <div class="article">
        <h5 class="article">{{item.name}}</h5>
        <button class="btn btn-success" (click)="open(content,item)"> open</button>
      </div>
    </div>
  </div>
    </div>
  </div>


  <div class="container">
    
    <div class="row">
      <div class="col">
       
      </div>
      <div class="col-5">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        (pageChange)="page = $event"
      ></pagination-controls>
      </div>
      <div class="col">
       
      </div>
    </div>
  </div>
  
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="article" id="modal-basic-title">{{infoPicture.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="section__warning" >
      <p class="article">
        <img  src={{infoPicture.image}} alt="Card image cap">
      </p>

      <p   class="article" *ngFor="let item of infoPicture.episode">
        <a   href={{item}}>{{item}}</a>
      </p>
    </div >
    <div class="footer">
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Save</button>
    </div>
  </ng-template>

  <footer class="footer">
    <small>2021 © German lozada</small>
  </footer>
  
